<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="lib/ionic/css/ionic.css">
    <title>登录</title>
</head>
<body>
    <div class="list" style="position:fixed;bottom:0px;width:100%">
        <label class="item item-input">
            <span class="input-label">公司帐套</span>
            <input type="text" ng-model="loginData.username" id="chooseUserDatabase" value="北京奥维奥科技有限公司">
        </label>
        <label class="item item-input">
            <span class="input-label">用户名</span>
            <input type="text" ng-model="loginData.username" id="iptUserName" value="admin">
        </label>
        <label class="item item-input">
            <span class="input-label">密码</span>
            <input type="password" ng-model="loginData.password" id="iptPassword" value="1q2w3e">
        </label>
        <label class="item">
            <button class="button button-block button-positive" type="submit" id="btnLogin" onclick="login()">登录</button>
        </label>
    </div>
    <div class="bar bar-footer">
        <a href="templates/servicesettings.html" class="button button-clear pull-right">高级>></a>
    </div>
    <script type="text/javascript" src="js/platformOverrides.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
</body>
</html>