<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="库存汇报明细" hide-tabs>
    <ion-header-bar class="item-input-inset">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">B1单据编号：</div>
            <div class="col">{{report.b1DocEntry}}</div>
        </div>
        <div class="row">
            <div class="col">业务伙伴名称：</div>
            <div class="col">{{report.businessPartnerName}}</div>
        </div>
        <div class="row">
            <div class="col">基础单据类型：</div>
            <div class="col">{{report.baseDocumentType}}</div>
        </div>
        <div class="row">
            <div class="col">基础单据编号：</div>
            <div class="col">{{report.baseDocumentEntry}}</div>
        </div>
        <div class="row">
            <div class="col">汇报时间：</div>
            <div class="col">{{report.createDate}}</div>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in report.stockReportItems" type="item-text-wrap" class="item item-icon-right">
                <p ng-click="isShowLineDetail=!isShowLineDetail">
                    {{item.itemCode}}
                    <i class="icon ion-ios-arrow-up" ng-show="isShowLineDetail"></i>
                    <i class="icon ion-ios-arrow-forward" ng-show="!isShowLineDetail"></i>
                </p>
                <div ng-show="isShowLineDetail">
                    <div class="row">
                        <div class="col">基础单据行号</div>
                        <div class="col">{{item.baseDocumentLineId}}</div>
                    </div>
                    <div class="row">
                        <div class="col">物料名称</div>
                        <div class="col">{{item.itemDescription}}</div>
                    </div>
                    <div class="row">
                        <div class="col">数量</div>
                        <div class="col">{{item.quantity}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考1</div>
                        <div class="col">{{item.reference1}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考2</div>
                        <div class="col">{{item.reference2}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <div class="row">
            <div class="col">备注：</div>
            <div class="col">{{chat.remark}}</div>
        </div>
    </ion-content>
</ion-view>
