<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="库存汇报明细" hide-tabs>
    <ion-content>
        <section class="order-detail-header">
            <ion-row>
                <ion-col width-33><ion-icon name="paper"></ion-icon></ion-col>
                <ion-col width-67>
                    <h4><span>{{report.remarks}}</span></h4>
                    <p>单据编号：{{report.docEntry}}</p>
                </ion-col>
            </ion-row>
        </section>
        <div>
            <table style="text-align:left">
                <tr>
                    <th>barCode1</th>
                    <th>price</th>
                    <th>fromLocation</th>
                    <th>fromWarehose</th>
                </tr>
                <tr ng-repeat="item in report.stockReportItems">
                    <td>
                        <p>{{item.barCode1}}</p>
                    </td>
                    <td>
                        <p>{{item.price}}</p>
                    </td>
                    <td>
                        <p>{{item.fromLocation}}</p>
                    </td>
                    <td>
                        <p>{{item.fromWarehose}}</p>
                    </td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>
