<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="库存汇报">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="save(report)">
            提交
        </button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list>
            <ion-item ng-repeat="item in task.stockTaskItems" type="item-text-wrap" class="item item-icon-right">
                <p ng-click="isShowLineDetail=!isShowLineDetail">
                    {{item.itemDescription}}
                    <i class="icon ion-ios-arrow-up" ng-show="isShowLineDetail"></i>
                    <i class="icon ion-ios-arrow-forward" ng-show="!isShowLineDetail"></i>
                </p>
                <div ng-show="isShowLineDetail">
                    <div class="row">
                        <div class="col">物料名称</div>
                        <div class="col">{{item.itemDescription}}</div>
                    </div>
                    <div class="row">
                        <div class="col">价格</div>
                        <div class="col">{{item.price}}</div>
                    </div>
                    <div class="row">
                        <div class="col">数量</div>
                        <div class="col">{{item.quantity}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考1</div>
                        <div class="col">{{item.reference1}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考2</div>
                        <div class="col">{{item.reference2}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <h4>已扫描物料：</h4>

        <ion-list>
            <ion-item ng-repeat="item in report.stockReportItems" type="item-text-wrap" class="item item-icon-right">
                <p ng-click="isShowLineDetail=!isShowLineDetail">
                    {{item.itemDescription}}
                    <i class="icon ion-ios-arrow-up" ng-show="isShowLineDetail"></i>
                    <i class="icon ion-ios-arrow-forward" ng-show="!isShowLineDetail"></i>
                </p>
                <div ng-show="isShowLineDetail">
                    <div class="row">
                        <div class="col">物料编号</div>
                        <div class="col">{{item.itemCode}}</div>
                    </div>
                    <div class="row">
                        <div class="col">物料名称</div>
                        <div class="col">{{item.itemDescription}}</div>
                    </div>
                    <div class="row">
                        <div class="col">价格</div>
                        <div class="col">{{item.price}}</div>
                    </div>
                    <div class="row">
                        <div class="col">数量</div>
                        <div class="col">{{item.quantity}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考1</div>
                        <div class="col">{{item.reference1}}</div>
                    </div>
                    <div class="row">
                        <div class="col">参考2</div>
                        <div class="col">{{item.reference2}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
        </ion-option-button>-->
    </ion-content>
    <ion-footer-bar>
        <button class="button pull-left button-positive" ng-click="edit()">
            添加
        </button>
        <button class="button pull-right button-positive" ng-click="scan()">
            扫描
        </button>
    </ion-footer-bar>
</ion-view>