<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--<ion-view view-title="我的">-->
<ion-view>
    <ion-content>
        <!--<ion-list>
        <ion-toggle  ng-model="settings.enableFriends">
            Enable Friends
        </ion-toggle>
        </ion-list>-->
        <div class="bar bar-header">
            <div class="h1 title">我的</div>
        </div>
        <div class="content has-header">
            <ul class="list">
                <li class="item">
                    修改密码
                </li>
                <li class="item">
                    意见反馈
                </li>
                <li class="item">
                    检查更新
                </li>
                <li class="item">
                    关于我们
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
