<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="功能">
    <ion-content class="padding">
        <!--菜鸟教程-列表-列表分隔符-->
        <h3 style="color:#adacac">仓库管理</h3>
        <div class="row">
            <div class="col" style="position:relative;margin: 0 auto;width:auto; text-align:center" ng-click="stocktask()">
                <span class="icon ion-ios-list-outline" style="font-size:80px"></span>
                <h4>库存任务</h4>
            </div>
            <div class="col" style="position:relative;margin: 0 auto;width:auto; text-align:center" ng-click="reporthistory()">
                <span class="icon ion-clipboard" style="font-size:80px"></span>
                <h4>库存汇报</h4>
            </div>
        </div>
        <!--<ion-fab bottom right>
            <ion-fab-button>
                Share
            </ion-fab-button>
            <ion-fab-list side="top">
                <button ion-fab>Facebook</button>
                <button ion-fab>Twitter</button>
                <button ion-fab>Youtube</button>
            </ion-fab-list>
        </ion-fab>-->
    </ion-content>
</ion-view>
