<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="库存任务" hide-tabs>
    <ion-header-bar class="item-input-inset">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
        <ion-header-bar class="item-input-inset">
            <label class="item-input-wrapper">
                <!--因删除搜索框用户输入内容功能有bug，所以暂时隐藏-->
                <!--<button class="button button-clear ion-ios-close-empty" ng-click="delSearchContent()"></button>-->
                <input type="search" placeholder="支持单据编号模糊查询" ng-model="searchContent" ng-focus="isShowSearchHistory='true'" ng-blur="isShowSearchHistory=!isShowSearchHistory">
            </label>
            <button class="icon ion-ios-search placeholder-icon button-clear" ng-click="search()"></button>
        </ion-header-bar>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div ng-show="isShowSearchHistory" class="search-history-wrap">
            <p><i class="icon ion-ios-clock-outline"></i>搜索历史</p>
            <ul class="search-history-list">
                <li ng-repeat="item in searchHistoryContent" on-tap="historyName(item.key)" class=" button button-clear">{{item.key}}</li>
            </ul>
            <p class="text-right">
                <button class="button button-clear" on-tap="delSearchHistory()">删除搜索历史</button>
            </p>
        </div>
        <ion-list>
            <!--如需在左侧加图片显示则加上：class="item-remove-animate item-avatar item-icon-right"-->
            <ion-item ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.objectKey}}" class="item item-icon-right">
                <h2>{{chat.annotated}}</h2>
                <p>{{chat.objectKey}}</p>
                <!--显示右侧状态（无视左侧几行）-->
                <!--<i class="icon">123</i>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
