<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="库存任务" hide-tabs>
    <ion-content>
        <ion-header-bar class="item-input-inset">
            <label class="item-input-wrapper">
                <button class="button button-clear ion-ios-close-empty" ng-click="delSearchContent()"></button>
                <input type="search" placeholder="支持单据编号模糊查询" ng-model="searchContent" ng-focus="showSearch(i)" ng-blur="hideSearch(i)">
                
            </label>
            <button class="icon ion-ios-search placeholder-icon button-clear" ng-click="search()"></button>
        </ion-header-bar>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div ng-show="searchHistory" class="search-history-wrap">
            <p><i class="icon ion-ios-clock-outline"></i>搜索历史</p>
            <ul class="search-history-list">
                <li ng-repeat="item in searchHistory" on-tap="historyName($event)">{{item}}</li>
                <!--<li>杯子</li>
                <li>电脑</li>
                <li>笔记本</li>
                <li>金龙鱼食用油</li>
                <li>杯子</li>
                <li>电脑</li>
                <li>笔记本</li>
                <li>金龙鱼食用油</li>-->
            </ul>
            <p class="text-right">
                <button class="button button-outline button-light del-search" on-tap="delSearchHistory()">删除搜索历史</button>
            </p>
        </div>
        <ion-list>
            <!--如需在左侧加图片显示则加上：class="item-remove-animate item-avatar item-icon-right"-->
            <ion-item ng-repeat="chat in chats" type="item-text-wrap" href="#/app/tab/dash/{{chat.objectKey}}" class="item item-icon-right">
                <h2>{{chat.annotated}}</h2>
                <p>{{chat.objectKey}}</p>
                <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>-->
                <!--显示右侧状态（无视左侧几行）-->
                <!--<i class="icon">123</i>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
