<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<ion-view view-title="我的">
    <ion-header-bar class="item-input-inset">
        <ion-nav-bar class="bar-stable">
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
        <!--<ion-toggle  ng-model="settings.enableFriends">
            Enable Friends
        </ion-toggle>-->
        <ion-list>
            <ion-item class="item item-icon-right">
                <p>
                    账号设置
                    <i class="icon ion-ios-arrow-forward"></i>
                </p>
            </ion-item>
            <!--<ion-item class="item">
                修改密码
            </ion-item>-->
            <!--<ion-item class="item">
                退出
            </ion-item>-->

            <ion-item class="item item-icon-right">
                <p>
                    关于我们
                    <i class="icon ion-ios-arrow-forward"></i>
                </p>
            </ion-item>
            <!--<ion-item class="item">
                意见反馈
            </ion-item>
            <ion-item class="item">
                检查更新
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
